img {
    max-width: 100%;
    height: auto;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px;
    font-weight: 700;
    color: #222222;
}
body {
    font-size: 17px;
    color: #BBBBBB;
}
a:hover { text-decoration: none; color:#fff; text-decoration: none;  }
.secton--padding {
    padding: 50px 0;
}

body {
    background-color: #EFEFF1;
    color: #7B7B7B;
    line-height: 30px;

}
.all-photo-btn {
    background-color: #454BED;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 50px;
    margin-top: 30px;
    transition: 300ms;
}
.all-photo-btn:hover {
  background: #3506EF;
  color: #dfdfdf;
}
.shado-gallery {
    position: relative;
}

.shado-gallery img {
    position: relative;
    z-index:  1;
    width: 50%;
    box-shadow: 0 0 30px #333;
}
.shado-gallery img:nth-child(2), .shado-gallery img:nth-child(3) {
    position:  absolute;
    right: 0;
    bottom: 0;
}
.shado-gallery img:nth-child(1) {
  left: 16%;
}
.shado-gallery img:nth-child(2) {
    z-index:  2;
    top: 50px;
    right: 0;
}

.shado-gallery img:nth-child(3) {
    width: 60%;
    position:  absolute;
    right: auto;
    left: 50px;
    bottom: -46%;
    z-index: 3;
}
